<h1>Listing assignments</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Course</th>
      <th>Name</th>
      <th>Url</th>
      <th>Finished</th>
      <th>Due date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.order(:due_date).each do |assignment| %>
      <tr>
        <td><%= link_to assignment.course.school.name + ": " + assignment.course.name, assignment.course %></td>
        <td><%= assignment.name %></td>
        <td><a href="<%= assignment.url %>" target="_ext">Go to url</a></td>
        <td><%= assignment.finished %></td>
        <td><%= assignment.due_date %></td>
        <td><%= link_to 'Show', assignment %></td>
        <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
        <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assignment', new_assignment_path %>
