<!DOCTYPE html>
<html>
<head>
  <title>Courseaid</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul class="nav">
    <li><%= link_to 'Schools', schools_path %></li>
    <li><%= link_to 'Courses', courses_path %></li>
    <li><%= link_to 'Assignments', assignments_path %></li>
</ul>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%= yield %>

</body>
</html>
